<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138277864202-e4pr1b6surpatfj8s1tbl0e58vjdq9p4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138277864202-e4pr1b6surpatfj8s1tbl0e58vjdq9p4</string>
	<key>API_KEY</key>
	<string>AIzaSyAoPq7mX2YL_I0lFzQ2aKLK8k5NWMnilEA</string>
	<key>GCM_SENDER_ID</key>
	<string>138277864202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wasabi.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-5c0f1</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-5c0f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138277864202:ios:642a689026c5342c8b70f3</string>
</dict>
</plist>